.card {
    background-color: gainsboro;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 16px;
    float: left;
    margin: 3%;
    box-shadow: inset 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.container {
    margin: 0 23%;
}

h1 {
    text-align: center;
    color: lightslategrey;
}

h6 {
    color: mediumblue;
    font-size: small;
    margin: 15px 0px 0px 0px;
}

h2 {
    color: red;
    font-size: xx-large;
    text-align: center;
}

.small-font{
    font-size: small;
    color: darkslategrey;
}
